BOT_TOKEN=your_bot_token_here
#ADMIN_ID=123456789
ADMIN_ID=
#SUPER_ADMIN_ID=
SUPER_ADMIN_IDS=

# Example supergroup id: -1001234567890
GROUP_CHAT_ID=

# GROUP_CHAT_IDS=

# Database
DB_HOST=postgres
DB_PORT=5432
DB_NAME=tg_bot_db
DB_USER=tg_bot_user
DB_PASSWORD=tg_bot_password
DB_ECHO=false
